.App {
  text-align: center;
}

.App-logo {
  animation: App-logo-spin infinite 20s linear;
  height: 80px;
}

.App-header {
  background-color: #222;
  padding: 20px;
  color: white;
  width: 100%;
  position: fixed;
  z-index: 1;
  height: 20px;
  margin-left: 30vw;
}

.Sidebar {
  background-color: #222;
  padding: 20px;
  color: white;
  width: 30%;
  height: 100vh;
  position: fixed;
  z-index: 0;
  overflow: hidden;
  float: left;
}

.App-title {
  font-size: 1.5em;
}

.Map-container {
  width: 70%;
}

@keyframes App-logo-spin {
  from { transform: rotate(0deg); }
  to { transform: rotate(360deg); }
}
