.App {
  text-align: center;
}

.App-logo {
  animation: App-logo-spin infinite 20s linear;
  height: 80px;
}

.App-header {
  background-color: #222;
  padding: 20px;
  color: white;
  width: 40%;
  height: 100vh;
  position: fixed;
  z-index: 99;
  overflow: hidden;
}

.App-title {
  font-size: 1.5em;
}

.Map-container {
  width: 50%;
  height: 100%;
}


@keyframes App-logo-spin {
  from { transform: rotate(0deg); }
  to { transform: rotate(360deg); }
}
